@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Ubuntu", sans-serif;
  --color-primary: #3238f2;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
  }
}

h1,
h2,
h3 {
  @apply font-display text-gray-800 font-medium;
}

.container {
  @apply px-6 py-12 max-w-7xl mt-16 mx-auto lg:px-8 lg:mt-10;
}

.anchor-hover {
  @apply border-b border-dotted border-y-gray-300 hover:border-solid hover:border-gray-500;
}

.gradient-hover-outer {
  @apply p-[1px] bg-slate-200 hover:bg-gradient-to-br hover:from-red-200 hover:via-purple-200 hover:to-yellow-200;
}

.gradient-hover-inner {
  @apply bg-slate-50 group-hover:bg-gradient-to-br group-hover:from-red-50 group-hover:via-purple-50 group-hover:to-yellow-50;
}

.h2-style {
  @apply text-5xl leading-normal sm:font-semibold max-w-2xl;
}
